@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.background{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top left,rgb(189, 204, 101),rgb(171, 134, 33));
}
.container{
    display: grid;
    place-items: center;
    height: 100vh;
}
.container .background-heading{
    font-size: 4rem;
}
.setting{
    position: absolute;
    right: 20px;
    bottom: 30px;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.setting-icon{
    font-size: 3rem;
    color: rgb(224, 231, 236);
}
.setting-input{
    display: flex;
    gap: 0.5rem;
}
.setting-input #dobInput{
    padding: 1rem 0.5rem;
    font-size: 1rem;
    width: 20vw;
    border: none;
    border-radius: 10px;
}
.setting-input .dobButton{
    padding: 1rem 0.5rem;
    font-size: 1rem;
    width: 10vw;
    border: none;
    border-radius: 10px;
}
.hide{
    display: none;
}
.time-container{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    padding-left: 20%;
}
.time-container h2{
    text-align: center;
    font-size: 2rem;
}